@CHARSET "UTF-8";
*{
	margin: 0;
	padding: 0;
}
/* 모바일화면 */
/* @media screen and (max-width : 1024px){ */
@media screen and (min-width:0px )and (max-width : 768px){
	body{
		width: 90%;
		margin: 0 auto;
	}
	#h_div1{
		height: 70px;
	}
	#h_div1 img{
		width: 60px;
		margin-left: 10px;
		margin-top: 10px;
		display: inline;
		float: left;
	}
	#h_div1 p{
		font-weight: bold;
		float: left;
		line-height: 70px;
		font-size: 1.2em;
		margin-left: 20px;
		/* border: 1px solid blue; */
	}
	#menu{
		font-size: 1em;
	}
	#menu li{
		list-style: none;
		height: 50px;
		background: #004080;
		border: 1px solid white;
	}
	#menu li:FIRST-CHILD{
		display: none;
	}
	#menu a{
		text-decoration: none;
		display: block;
		color: white;
		line-height: 50px;
	}
	nav h3{
		visibility: hidden;
	}
	#div_wrap img{
		width: 100%;
	}
}
/* @media screen and (min-width:1025px){ */
@media screen and (min-width:769px){
	body{
		width: 960px;
		margin:0 auto;
	}
	header{
		/* border: 1px solid red; */
		width: 100%;
		height: 100px;
	}
	#h_div1{
		height: 60px;
	}
	#h_div1 img{
		/* width: 80px; */
		max-width: 50%;
		height: 50%;
		margin-left: 20px;
		margin-top: 20px;
		display: inline;
		float: left;
		display: none;
	}
	#h_div1 p{
		font-weight: bold;
		float: left;
		line-height: 100px;
		font-size: 2em;
		margin-left: 20px;
		/* border: 1px solid blue; */
	}
	#menu{
		background: #004080;
		height: 40px;
		clear: both;
	}
	#menu>li{
		float: left;
		display: inline;
		width: 20%;
		height: 40px;
		line-height: 40px;
		text-align: center;
	}
	#menu>li a{
		color: white;
		text-decoration: none;
		font-weight: bold;
	}
	nav{
		clear: both;
		/* border: 1px solid red; */
		margin-top: 80px;
		height: 100px;
	}
	#div_wrap{
		margin-top: 30px;
	}
}


